---
import "../fonts.css";
---

<html lang="en">
  <!-- source code: https://github.com/beacondb/beacondb.net -->
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>beaconDB</title>
  </head>
  <body class="bg-neutral-950 mt-16 mb-32 p-4">
    <header class="max-w-2xl mx-auto prose prose-neutral prose-invert mb-4">
      <h1
        class="text-3xl font-semibold flex items-end gap-2 text-teal-400 mb-0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="2rem"
          height="2rem"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M4.93 4.93A9.97 9.97 0 0 0 2 12c0 2.76 1.12 5.26 2.93 7.07l1.41-1.41A7.94 7.94 0 0 1 4 12c0-2.21.89-4.22 2.34-5.66zm14.14 0l-1.41 1.41A7.96 7.96 0 0 1 20 12c0 2.22-.89 4.22-2.34 5.66l1.41 1.41A9.97 9.97 0 0 0 22 12c0-2.76-1.12-5.26-2.93-7.07M7.76 7.76A5.98 5.98 0 0 0 6 12c0 1.65.67 3.15 1.76 4.24l1.41-1.41A4 4 0 0 1 8 12c0-1.11.45-2.11 1.17-2.83zm8.48 0l-1.41 1.41A4 4 0 0 1 16 12c0 1.11-.45 2.11-1.17 2.83l1.41 1.41A5.98 5.98 0 0 0 18 12c0-1.65-.67-3.15-1.76-4.24M12 10a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2"
          ></path>
        </svg>
        beaconDB
      </h1>
      <p class="lead mt-2">publicly sourced, publicly licensed</p>
      <p class="font-semibold">
        an experimental wireless geolocation database with public domain data
        dumps
      </p>
    </header>

    <img class="max-w-7xl w-full mx-auto" src="/plot.avif" />

    <div class="mx-auto max-w-2xl prose prose-neutral prose-invert">
      <ul>
        <li><b>ethically sourced</b>: opt-in only data collection</li>
        <li><b>privacy friendly</b>: access point identifiers are hashed</li>
        <li>
          <b>abuse resistant</b>: updating existing data requires information
          only available in physical range of a beacon
        </li>
      </ul>

      <h2>contribute</h2>
      <p>
        beaconDB is now accepting submissions! to add coverage for your area you
        can use the following apps on your phone:
      </p>
      <ul>
        <li>
          <a href="https://github.com/mjaakko/NeoStumbler">NeoStumbler</a>:
          supports cell towers, wifi networks and bluetooth devices
          <ul>
            <li>
              in the Settings tab, set the endpoint to <code
                >https://beacondb.net</code>
            </li>
          </ul>
        </li>
        <li>
          <a href="https://github.com/zamojski/TowerCollector"
            >Tower Collector</a
          >: only supports cell towers
          <ul>
            <li>
              in Upload Preferences, enable support for custom MLS services and
              set the address to <code>https://beacondb.net/v2/geosubmit</code>
            </li>
          </ul>
        </li>
      </ul>
      <p>
        data you submit is aggregated and shared under a public domain license.
        for more information on how data you submit is handled, see the
        <a href="/privacy">privacy notice</a>.
      </p>

      <h2>usage</h2>
      <p>
        <b
          >beaconDB is currently experimental - do not use for anything critical</b>
      </p>

      <p>
        beaconDB hosts an endpoint at <code
          >https://beacondb.net/v1/geolocate</code
        > which accepts requests in the same format as MLS.
      </p>
      <p>
        as beaconDB is starting from scratch there is likely no wifi coverage
        for your area. if beaconDB can't estimate your location using wifi, it
        will fallback to an approximate cell tower location sourced from MLS'
        final data dump. note that submissions will take at least 5 minutes to
        become available in the beaconDB API.
      </p>
      <p>
        if you own an Android phone running <a href="https://microg.org/"
          >microG</a
        >, you can easily give beaconDB a spin:
        <ul>
          <li>
            the latest microG location engine allows you to set a custom
            location service endpoint in microG settings
          </li>
          <li>
            not all ROMs have implemented support for the new location engine -
            you can use beaconDB with <a
              href="https://github.com/microg/UnifiedNlp">UnifiedNlp</a
            > instead by installing <a
              href="https://github.com/beacondb/beacondb-unifiednlp/releases/tag/v1.6.0"
              >this backend</a>
          </li>
        </ul>
      </p>

      <h2>links</h2>
      <ul>
        <li>
          source code <a href="https://github.com/beacondb/beacondb"
            >on GitHub</a>
        </li>
        <li>made by <a href="https://joel.net.au/">Joel Koen</a></li>
        <li><a href="/privacy">privacy notice</a></li>
      </ul>
    </div>
  </body>
</html>
